@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*::before,
*::after,
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	border: 0;
	appearance: none;
}
:root {
	--roxo-01: #6871e0;
	--roxo-02: #6255c6;
	--azul-Escuro: #343970;
	--preto-texto: #131428;
	--white-smoked-default: #fafcfc;
	--white-smoked-01: #f1f1f1;
	--white-smoked-02: #f1f1f1;
	--ligth-white: rgba(255, 255, 255, 0.97);
	--preto-texto-default: #0d1e37;
	--preto-dark: #181818;
}
body {
	/* height: 100vh; */
	font-family: 'Inter', 'sans-serif';
	line-height: 1.6;
	padding: 0 2.5rem;
	background-color: var(--white-smoked-02);
}
header {
	margin-top: 40px;
	padding: 30px;
	display: grid;
	width: 100%;
	justify-content: end;
	background-color: #131428;
	input {
		padding: 14px 8px;
		width: 100%;
		border-radius: 5px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.036);
		max-width: 450px;
		width: 100%;
	}
}
h1 {
	margin-bottom: 5px;
	color: var(--white-smoked-default);
	text-align: center;
}
section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
	@media (max-width: 698px) {
		grid-template-columns: 1fr;
	}
	justify-content: center;
	gap: 20px;
	padding-block: 4.5rem 3rem;
	margin: 0 auto;
}
.card-content {
	background-color: rgba(255, 255, 255, 0.97);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01);
	padding: 22px;
	border-radius: 9px;

	width: 100%;
	margin: 0 auto;
}
.card-content .card {
	display: grid;
	gap: 5px;
	margin: 0 auto;
	width: 100%;
}
picture {
	max-width: 64px;
	max-height: 64px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	object-fit: cover;
	overflow: hidden;
	background: #ffffff4b;
	img {
		max-width: 100%;
		object-fit: cover;
	}
}
h2 {
	font-size: 1.1rem;
}

/* modal, overlay */
.modal,
.overlay {
	position: fixed;
	inset: 0;
}
.overlay {
	background-color: rgba(255, 255, 255, 0.01);
	filter: blur(90%);
	backdrop-filter: blur(40%);
}

.modal.hidden,
.overlay.hidden {
	display: none;
}
.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	z-index: 999;
	background: rgba(255, 255, 255, 0.97);
}
